@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');

*{
    padding: 0;
    margin: 0;
}

::-webkit-scrollbar {
    display: none;
}
:root{
    --black: #323232;
    --grey: #B7B7B7;
    --accent: #FDA941;
    --backdrop: #A6A6A6;
    --white: #FFFFFF;
}

a:link,
a:visited,
a:active{
    text-decoration: none;
    color: var(--black)
}
button{
    color: var(--black);
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    -webkit-text-fill-color: var(--black) !important;
    background-color: var(--white);
    -webkit-box-shadow: 0 0 0 30px var(--white) inset !important;
}

.tablet,
.mobile{
    visibility: hidden;
    position: absolute;
}

.desktop{
    visibility: visible;
    position: static;
}

.normal-main-buttons,
.modal-main-buttons{
    border: 2px solid var(--accent);
    background: transparent;
    cursor: pointer;
    font-weight: 700;
    border-radius: 5px;
    width: fit-content;
    transition: 1.2s;
    user-select: none;
}

.modal-main-buttons:disabled,
.modal-main-buttons:disabled:hover{
    border: 2px solid var(--grey);
    color: var(--grey);
}

.normal-main-buttons.active{
    background: var(--accent);
}

.normal-main-buttons:hover,
.modal-main-buttons:hover{
    border-color: var(--black);
}

.normal-main-buttons.active:hover{
    border-color: var(--accent);
}

.normal-main-buttons{
    height: 30px;
    font-size: 14px;
    line-height: 16px;
    padding: 0 18px;
}
.modal-main-buttons{
    height: 40px;
    font-size: 18px;
    line-height: 21px;
    padding: 0 22px;
}

body{
    font-family: 'Roboto';
    color: var(--black);
    background: var(--white);
}

.heading{
    font-size: 48px;
    font-weight: 400;
    line-height: 56px;
    font-family: 'Montserrat';
    text-transform: uppercase;
}
.small-text,
.normal-text{
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
}

.big-text{
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
}

.accent{
    color: var(--accent);
}

.bold{
    font-weight: 700;
}

.grey{
    color: var(--grey);
}

.main-page{
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 0 calc((100% * 0.15)/2);
    padding-bottom: 20px;
}

/* HEADER */

.burger-container{
    visibility: hidden;
    position: absolute;
    display: flex;
    justify-content: end;
}
.burger-nav-menu{
    padding: 20px 40px 40px 40px;
    width: 100vw;
    display: flex;
    box-sizing: border-box;
    border: 2px solid var(--accent);
    position: absolute;
    background: var(--white);
    transition: 0.7s;
    top: 0;
    left: -100%;
    z-index: 2;
}
.burger{
    background: var(--white);
    border: 2px solid var(--accent);
    display: flex;
    flex-direction: column;
    width: 44px;
    height: 44px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    transition: 1s;
    position: relative;
    z-index: 3;
}

.burger:before,
.burger:after{
    content: '';
    width: 22px;
    height: 2px;
    transition: .5s;
    border-radius: 100px;
    background: var(--black);
    position: absolute;
}
.burger:before{
    top: 17px;
}
.burger:after{
    bottom: 17px;
}
.burger.active:before{
    transform: rotate(-45deg);
    top: 21px;
}
.burger.active:after{
    transform: rotate(45deg);
    bottom: 21px;
}
.burger-nav-menu.active{
    left: 0;
}
.burger-nav{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.burger-nav-items{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.burger-nav-item{
    display: flex;
    gap: 10px;
}

.header{
    display: flex;
}

.logo-container{
    height: 150px;
}
.logo{
    border-radius: 0px 0px 10px 10px;
    height: 100%;
}
.navigation{
    margin-top: 20px;
    width: 100%;
}

.navigation-row{
    display: flex;
    margin-top: 30px;
    justify-content: end;
    align-items: center;
    gap: 60px;
    user-select: none;
}

.nav-item{
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: 0.5s;
}

.nav-item:hover,
.nav-item a:hover{
    color: var(--accent);
}

.nav-item a,
a.nav-item{
    color: var(--black);
    transition: 0.5s;
}

.icon{
    display: flex;
    margin-right: 10px;
    align-items: center;
    cursor: auto;
}

.separator{
    width: 1px;
    height: 17px;
    background: var(--grey);
    border-radius: 10px;
    cursor: auto;
}

/* SLIDER */

.slides-list-container{
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.slider-buttons{
    min-width: 60px;
    height: 60px;
    background: transparent;
    border-radius: 10px;
    display: block;
    border: 2px solid var(--accent);
}
.slider-container{
    display: flex;
    gap: 40px;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.slider{
    display: flex;
    align-items: center;
    align-self: stretch;
    overflow: hidden;
    width: 100%;
}
.slides{
    display: flex;
    position: relative;
    transition: 1s;
    left: 0;
    width: max-content;
    align-self: stretch;
    width: 100%;
}
.slide{
    display: flex;
    min-width: 100%;
    box-sizing: border-box;
    padding: 0 15px;
}
.content{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
}
.line{
    background: var(--accent);
    width: 195px;
    height: 4px;
    border-radius: 100px;
    margin: 20px 0 40px 0;
}

.slide-text{
    width: 22vw;
}

.slide-item{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.slide-item-button{
    display: flex;
    width: 100%;
    justify-content: end;
}

.slide-image-container{
    display: flex;
}

.slide-image{
    width: 45vw;
    height: 500px;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.slide-image img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

/* BAKERY MENU */

.bakery-menu{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.bakery-menu-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    align-self: center;
}

.bakery-menu-item{
    display: flex;
    flex-direction: column;
    gap: 20px
}

.bakery-menu-item-image{
    width: 380px;
    height: 370px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}

.bakery-menu-item-image img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: 1.2s;
}

.bakery-menu-item-image img:hover{
    scale: 1.1;
}


/* CONTACTS */

.contacts-container{
    display: flex;
    justify-content: end;
}

.contacts{
    margin-top: 80px;
    display: flex;
    justify-content: end;
    flex-direction: column;
    gap: 20px;
    align-items: end;
}

.instagram{
    border-radius: 5px;
    border: 2px solid var(--accent);
    padding: 9px 12px;
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
    width: min-content;
}

a.instagram{
    color: var(--black);
}

/* BAKERY MENU */

.path{
    display: flex;
    gap: 10px;
    align-items: center;
    user-select: none;
}

.path a:hover{
    text-decoration: underline;
}

.square{
    width: 4px;
    height: 4px;
    background: #FDA941;
    border-radius: 10px;
}

.about-company-text{
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 600px;
}

.checkout-button{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* BASKET */

.basket-list{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.basket-item{
    display: flex;
}

.basket-item-info{
    padding: 20px 0 20px 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.basket-title-row{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.basket-item-image{
    width: 380px;
    height: 290px;
    border-radius: 10px;
    background: var(--grey);
    flex-shrink: 0;
    position: relative;
    overflow: hidden;
}
.basket-item-image img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: 1.2s;
}

.basket-item-description{
    width: 100%;
}

.basket-item-text{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.product-description{
    width: 80%;
}


.product-price-container{
    display: flex;
    flex-direction: row;
    gap: 5px;
}
.basket-item-options{
    display: flex;
    justify-content: space-between;
}

.quantity{
    display: flex;
    gap: 10px;
    user-select: none;
}

.quantity-tool{
    width: 40px;
    height: 40px;
    border: 2px solid var(--grey);
    border-radius: 5px;
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.quantity-info{
    width: 51px;
    height: 40px;
    border: 2px solid var(--grey);
    border-radius: 5px;
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
}

.checkout-modal-window{
    display: flex;
    flex-direction: column;
    background: var(--white);
    gap: 30px;
    border-radius: 10px;
    padding: 20px;
    width: min-content;
    display: none;
}

input[type=text]{
    height: 40px;
    border-radius: 5px;
    border: 2px solid var(--grey);
    background: var(--white);
    margin-top: 5px;
    width: 100%;
    box-sizing: border-box;
    padding: 0 10px;
    font-size: 16px;
    font-family: 'Roboto';
}

.checkout-title{
    width: 360px;
}

.checkout-modal-button{
    display: flex;
    justify-content: end;
}

/* PRODUCTS MENU */

.products-menu-filter{
    display: flex;
    gap: 16px;
}

.products-list{
    display: flex;
    gap: 30px;
    justify-content: center;
    flex-wrap: wrap;
}

.products-item{
    width: 350px;
}

.products-item-image{
    width: 100%;
    height: 290px;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.products-item-image img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: 1.2s;
}
.products-item-image img:hover{
    scale: 1.1;
}

.products-item-name{
    margin: 20px 0 30px 0;
}

.products-item-options{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.products-separator{
    width: 100%;
    height: 2px;
    flex-shrink: 0;
    border-radius: 10px;
    background: var(--grey);
    margin: 20px 0 30px 0;
}

.backdrop{
    background: rgba(166, 166, 166, 0.5);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 4;
    display: none;
}

.product-modal-window{
    padding: 20px;
    width: 800px;
    flex-shrink: 0;
    background: var(--white);
    border-radius: 10px;
    display: flex;
    gap: 30px;
    flex-shrink: 0 ;
    z-index: 5;
    display: none;
}

.preview-product-modal-window{
    padding: 20px;
    width: 800px;
    flex-shrink: 0;
    background: var(--white);
    border-radius: 10px;
    display: flex;
    gap: 30px;
    flex-shrink: 0 ;
    border: 1px solid var(--grey);
}

.modal-price{
    width: max-content;
}


.modal-price-container{
    display: flex;
    flex-direction: row;
    gap: 4px;
}

.product-modal-window-image{
    width: 380px;
    height: 290px;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.product-modal-window-image img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.product-modal-window-info{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-between;
    width: 100%;
}
.radio-container{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.product-modal-window-description-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.product-modal-window-description{
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 100%;
}

.product-modal-window-total{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.product-modal-window-options{
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 10px;
}

.modal-price-container{
    display: flex;
    flex-direction: row;
}
.modal-button-container{
    display: flex;
    width: 100%;
    justify-content: right;
}

/* VACANCIES */
.header-modal-window-content{
    background: var(--white);
    border-radius: 10px;
    padding: 20px 70px;
    display: none;
    flex-shrink: 0;
    flex-direction: column;
    gap: 15px;
    text-align: center;
    box-sizing: border-box;
}
.mobile-close-modal-window{
    background-color: var(--white);
    border-radius: 100px;
    display: none;
    border: 0;
    padding: 10px 0;
}
.modal-window-container{
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 5;
    transform: translateY(-50%) translateX(-50%);
    display: flex;
    flex-direction: row;
    width: min-content;
    justify-content: center;
    gap: 10px;
}

.close-modal-window{
    padding: 12px;
    border: 2px solid var(--white);
    background: var(--white);
    border-radius: 100px;
    height: min-content;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 1.2s;
    display: none;
}

.close-modal-window:hover{
    border: 2px solid var(--black);
}

/* RADIO */
.form-radio input[type = radio] {
	display: none;
}
.form-radio label {
	display: inline-block;
	cursor: pointer;
	position: relative;
	padding-left: 25px;
    line-height: 18px;
	user-select: none;
    transition: 0.5s;
}
.form-radio label:before {
	content: "";
	display: inline-block;
	width: 18px;
	height: 18px;
    border: 2px solid var(--accent);
    box-sizing: border-box;
    border-radius: 100px;
	position: absolute;
	left: 0;
	background: var(--white);
}
.form-radio input[type=radio]:checked + label:before {
	background: url(./images/checked-radio.png) 0 0 no-repeat;
    background-position: center;
}
.form-radio label:hover {
	color: var(--accent);
}

.radio-buttons{
    display: flex;
    flex-direction: column;
    gap: 60px;
}
.radio-buttons-item{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.text-params{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.text-params-container{
    display: flex;
    flex-direction: row;
    gap: 60px;
}

.text-params-columns{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.text-params input{
    width: 700px;
}
.text-params textarea{
    max-width: 700px;
    min-width: 700px;
    height: 40px;
    border-radius: 5px;
    border: 2px solid var(--grey);
    margin-top: 5px;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
    max-height: 200px;
    min-height: 200px;
    font-family: 'Roboto';
}
input[type=file]{
    visibility: hidden;
    position: absolute;
}
label.normal-main-buttons{
    padding: 6px 15px;
}

.modal-radio{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: flex-start;
}

.price-kg{
    margin-left: 25px;
}

#phone-number::before{
    content: "";
    width: 50px;
    display: block;
    height: 50px;
    background: var(--black);
}

.modal-form-radio input[type = radio] {
	display: none;
}

.modal-form-radio input[type=radio]:checked ~ div label.modal-radio:before {
	background: url(./images/checked-radio.png) 0 0 no-repeat;
    background-position: center;
}


label.modal-radio{
    display: inline-block;
	cursor: pointer;
	position: relative;
	padding-left: 25px;
    line-height: 18px;
	user-select: none;
    transition: 0.5s;
    width: 120px;
}

label.modal-radio:before{
    content: "";
	display: inline-block;
	width: 18px;
	height: 18px;
    border: 2px solid var(--accent);
    box-sizing: border-box;
    border-radius: 100px;
	position: absolute;
	left: 0;
	background: var(--white);
}
label.modal-radio:hover {
	color: var(--accent);
}
/* ORDERS */
.order{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.order-info{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.order-buttons-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.order-list{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.order-image{
    width: 130px;
    height: 130px;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.order-image img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.order-item{
    display: flex;
    flex-direction: row;
}
.order-description{
    display: flex;
    padding: 10px;
    flex-direction: column;
    width: 500px;
    gap: 20px;
}
