@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
*{
    padding: 0;
    margin: 0;
}
:root{
    --black: #323232;
    --grey: #C2C2C2;
    --accent: #FDA941;
    --backdrop: #A6A6A6;
    --white: #FFFFFF;
}

a:link,
a:visited,
a:active{
    text-decoration: none;
}
button{
    color: var(--black);
}

.normal-main-buttons,
.modal-main-buttons{
    border: 2px solid var(--accent);
    background: transparent;
    cursor: pointer;
    font-weight: 700;
    border-radius: 5px;
    width:  fit-content;
    transition: 1.2s;
}

.normal-main-buttons.active{
    background: var(--accent);
}

.normal-main-buttons:hover,
.modal-main-buttons:hover{
    border-color: var(--black);
}

.normal-main-buttons.active:hover{
    border-color: var(--accent);
}

.normal-main-buttons{
    height: 30px;
    font-size: 14px;
    line-height: 16px;
    padding: 0 18px;
}
.modal-main-buttons{
    height: 40px;
    font-size: 18px;
    line-height: 21px;
    padding: 0 22px;
}

body{
    font-family: 'Roboto';
    color: var(--black);
    background: var(--white);
}

.heading{
    font-size: 48px;
    font-weight: 400;
    line-height: 56px;
    text-transform: uppercase;
}
.small-text{
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
}

.normal-text{
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
}

.big-text{
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
}

.accent{
    color: var(--accent);
}

.bold{
    font-weight: 700;
}

.grey{
    color: var(--grey);
}

.main-page{
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 0 calc((100% - 1200px) / 2);
}

/* HEADER */

.header{
    display: flex;
}

.logo-container{
    height: 150px;
}
.logo{
    border-radius: 0px 0px 10px 10px;
}
.navigation{
    margin-top: 20px;
    width: 100%;
}

.navigation-row{
    display: flex;
    margin-top: 30px;
    justify-content: end;
    align-items: center;
    gap: 60px;
}

.nav-item{
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: 0.5s;
}

.nav-item:hover,
.nav-item a:hover{
    color: var(--accent);
}

.nav-item a,
a.nav-item{
    color: var(--black);
    transition: 0.5s;
}

.icon{
    display: flex;
    margin-right: 10px;
    align-items: center;
    cursor: auto;
}

.separator{
    width: 1px;
    height: 17px;
    background: var(--grey);
    border-radius: 10px;
    cursor: auto;
}

/* SLIDER */

.slide{
    display: flex;
    flex-direction: row;
    gap: 80px;
}
.line{
    background: var(--accent);
    width: 195px;
    height: 4px;
    border-radius: 100px;
    margin: 20px 0 40px 0;
}

.slide-text{
    width: 320px;
}

.slide-image{
    width: 800px;
    height: 500px;
    background: var(--grey);
    border-radius: 10px;
}

/* BAKERY MENU */

.bakery-menu{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.bakery-menu-list{
    display: flex;
    gap: 30px;
    align-self: center;
}

.bakery-menu-item{
    display: flex;
    flex-direction: column;
    gap: 20px
}

.bakery-menu-item-image{
    width: 380px;
    height: 370px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}

.bakery-menu-item-image img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: 1.2s;
}

.bakery-menu-item-image img:hover{
    scale: 1.1;
}


/* CONTACTS */

.contacts{
    padding: 150px 0 150px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 180px;
    text-align: center;
}

.contacts-title{
    font-size: 144px;
    line-height: 169px;
    text-transform: uppercase;
}

.question-contact{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/* BAKERY MENU */

.path{
    display: flex;
    gap: 10px;
    align-items: center;
}

.square{
    width: 4px;
    height: 4px;
    background: #FDA941;
    border-radius: 10px;
}

.about-company-text{
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 600px;
}

/* BASKET */

.basket-item{
    display: flex;
}

.basket-item-info{
    padding: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.basket-item-image{
    width: 380px;
    height: 290px;
    border-radius: 10px;
    background: var(--grey);
    flex-shrink: 0;
}

.basket-item-description{
    display: flex;
    justify-content: space-between;
}

.basket-item-text{
    width: 500px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.basket-item-options{
    display: flex;
    justify-content: space-between;
}

.quantity{
    display: flex;
    gap: 10px;
}

.quantity-tool{
    width: 40px;
    height: 40px;
    border: 2px solid var(--grey);
    border-radius: 5px;
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.quantity-info{
    width: 78px;
    height: 40px;
    border: 2px solid var(--grey);
    border-radius: 5px;
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
}

/* PRODUCTS MENU */

.products-menu-filter{
    display: flex;
    gap: 16px;
}

.products-list{
    display: flex;
    gap: 30px;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.products-item{
    width: 380px;
}

.products-item-image{
    width: 380px;
    height: 290px;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.products-item-image img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: 1.2s;
}
.products-item-image img:hover{
    scale: 1.1;
}

.products-item-name{
    margin: 20px 0 30px 0;
}

.products-item-options{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.products-separator{
    width: 380px;
    height: 1px;
    flex-shrink: 0;
    border-radius: 10px;
    background: var(--grey);
    margin: 20px 0 30px 0;
}

.backdrop{
    background: rgba(166, 166, 166, 0.50);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    display: none;
}

.product-modal-window{
    padding: 20px;
    flex-shrink: 0;
    background: var(--white);
    border-radius: 10px;
    display: flex;
    gap: 30px;
    z-index: 4;
    display: none;
}

.product-modal-window-image{
    width: 380px;
    height: 290px;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.product-modal-window-image img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.product-modal-window-info{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-between;
    width: 350px;
}

.product-modal-window-description{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.product-modal-window-total{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.product-modal-window-options{
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 10px;
}

/* VACANCIES */
.vacancies-modal-window{
    background: var(--white);
    border-radius: 10px;
    padding: 20px 70px;
    display: none;
    flex-shrink: 0;
    flex-direction: column;
    gap: 15px;
    text-align: center;
    box-sizing: border-box;
}

.modal-window-container{
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 4;
    transform: translateY(-50%) translateX(-50%);
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.close-modal-window{
    padding: 12px;
    border: 2px solid var(--white);
    background: var(--white);
    border-radius: 100px;
    display: flex;
    height: min-content;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 1.2s;
    display: none;
}

.close-modal-window:hover{
    border: 2px solid var(--black);
}