@media (max-width: 1200px){
    .tablet{
        visibility: visible;
        position: static;
    }
    .desktop{
        display: none;
    }

    /* MAIN PAGE */
    .burger-container{
        visibility: visible;
    }
    .logo-container{
        height: 100px;
    }

    .content{
        flex-direction: column;
        gap: 10px;
    }

    .slide-text{
        width: 100%;
    }
    
    .slide-image{
        width: 100%;
    }
    .slider-container{
        gap: 20px;
    }

    .bakery-menu-item-image{
        width: 334px;
        height: 324px;
    }
    .bakery-menu{
        height: 100%;
    }

    /* PRODUCTS MENU */
    .products-item{
        width: 280px;
    }

    .products-item-image{
        height: 200px;
    }

    /* ADD TO BASKET */
    .product-modal-window{
        flex-direction: column;
        width: 480px;
        gap: 15px;
    }

    .product-modal-window-image{
        width: 100%;
        height: 330px;
    }

    /* BASKET */
    .basket-item-image{
        width: 220px;
        height: 220px;
    }

    .basket-title-row{
        justify-content: start;
        flex-direction: column-reverse;
        gap: 20px;
    }

    .about-company-text{
        width: 100%;
    }
}